version: "3.6"

services:

  qrcode:
    image: soulteary/nginx-qrcode-server:memcached
    volumes:
      - ./nginx.with-mc.conf:/usr/local/nginx/conf/nginx.conf:ro
    ports:
      - 8080:80
    restart: always
    networks:
      - qrcode-network
    depends_on:
      - memcached
    environment:
      - TZ=Asia/Shanghai
    logging:
        driver: "json-file"
        options:
            max-size: "10m"

  memcached:
    image: memcached:1.6.9-alpine
    expose:
      - 11211
    restart: always
    networks:
      - qrcode-network
    logging:
        driver: "json-file"
        options:
            max-size: "10m"

networks:
  qrcode-network: